@font-face {
  font-family: "Nobile-Bold";
  src: url("Nobile-Bold.ttf");
}

@font-face {
  font-family: "Nobile-Medium";
  src: url("Nobile-Medium.ttf");
}

@font-face {
  font-family: "Nobile-MediumItalic";
  src: url("Nobile-MediumItalic.ttf");
}

@font-face {
  font-family: "Nobile-Regular";
  src: url("Nobile-Regular.ttf");
}

body {
  margin: 0;
  color: #2C3594;
}

.main {
  position: relative;
  margin-top: 75px;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  display: grid;
  max-width: 1440px;
}

.main_caption {
  margin-top: 40px;
  font-family: "Nobile-Medium";
  font-size: 40px;
  align-self: center;
  justify-self: center;
}

.info_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 115px 95px 1fr;
  border-bottom: 2px solid #C5D2E2;
}

.block_caption {
  font-size: 30px;
  font-family: "Nobile-Medium";
  grid-column: 1/ -1;
  align-self: end;
  justify-self: center;
}

.block_offer_list {
  font-size: 20px;
  font-family: "Nobile-Bold";
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
}

.block_image {
  width: 670px;
  margin-top: 5px;
  margin-left: 4px;
}

.block_image img {
  width: 100%;
}

.block_description {
  white-space: pre-line;
  margin-left: 9px;
  line-height: 28px;
  font-size: 20px;
  font-family: "Nobile-Regular";
}

.block_1 .block_caption {
  margin-top: 20px;
}

.block_2 {
  margin-top: 10px;
  padding-bottom: 70px;
  grid-template-columns: 1fr 1fr 165px;
}

.block_2 .block_caption {
  grid-column: 1/ span 2;
  margin-left: 165px;
}

.block_2 .block_offer_list {
  grid-column: 1/ span 2;
  margin-left: 165px;
}

.block_2 .block_image {
  grid-column: 1 / 2;
  overflow: hidden;
  width: 685px;
  height: 440px;
}

.block_2 .block_image img {
  margin-top: -137px;
}

.block_2 .block_description{
  grid-column: 2 / 4;
}

.block_logo {
  width: 165px;
  margin-top: 34px;
  margin-left: -10px;
}

.block_1 {
  padding-bottom: 40px;
}

.block_description_small {
  font-family: "Nobile-MediumItalic";
  font-size: 15px;
  line-height: 18px;
}

.contact_block {
  display: grid;
  padding-top: 40px;
  margin-top: 0px;
  border-bottom: 2px solid #C5D2E2;
  padding-bottom: 45px;
}

.contact_block .block_offer_list {
  margin-top: 36px;
}

.contact_block .block_description {
  margin-top: 20px;
  justify-self: center;
  text-align: center;
}

.address_block {
  display: grid;
  margin-top: 90px;
}

.address_block .block_offer_list {
  margin-top: 35px;
}

.block_map {
  margin-top: 30px;
  grid-column: 1 / -1;
  overflow: hidden;
}

.block_map img {
  width: 100%;
  margin-top: -70px;
}
