@font-face {
  font-family: "Nobile-Bold";
  src: url("Nobile-Bold.ttf");
}

@font-face {
  font-family: "Nobile-Medium";
  src: url("Nobile-Medium.ttf");
}

@font-face {
  font-family: "Nobile-MediumItalic";
  src: url("Nobile-MediumItalic.ttf");
}

@font-face {
  font-family: "Nobile-Regular";
  src: url("Nobile-Regular.ttf");
}

body {
  margin: 0;
}

.main {
  height: 600px;
  margin-top: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
  color: #2C3594;
}

.main::after {
  content: "";
  background: url("https://ar1.ftjrn.com/wp-content/uploads/2018/12/noga.png");
  background-position: left center;
  background-size: auto 100%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
  opacity: 0.3;
  height: 600px;
  top: 75px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.lorenz_container {
  margin-right: 60px;
  margin-top: 50px;
  align-self: center;
  justify-self: end;
}

.lorenz_list {
  padding-left: 25px;
}

.main_list_container {
  /* font-size: 8px; */
  font-size: 11px;
  line-height: 1.1;
}

.main_logo {
  height: 220px;
  margin-top: -50px;
  align-self: center;
  justify-self: center;
}

.main_logo img {
  height: 100%;
}

.main_list_item {
  font-family: "Nobile-Regular";
  display: block;
}

.lorenz_container .department_container {
  margin-left: -20px;
}

.department_container {
  color: #2C3594;
  text-decoration: none;
  outline: none;
  display: block;
  padding-top: 10px;
}

.department_name {
  font-family: "Nobile-Regular";
  /* font-size: 16px; */
  font-size: 19px;
}

.lorenz_container .arrow_icon {
  padding-right: 5px;
  /* padding-left: 16px; */
  padding-left: 16px;
}

.arrow_icon {
  /* font-size: 16px; */
  font-size: 19px;
}

.mach_container {
  padding-right: 25px;
  text-align: right;
  margin-top: 50px;
  margin-left: 10px;
  align-self: center;
  justify-self: start;
}

.mach_container .department_container {
  margin-right: -30px;
}

.mach_container .arrow_icon {
  padding-left: 5px;
}

@media (max-width: 800px) {
  .main {
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
  }

  .main:after {
    margin-left: 0;
    margin-right: 0;
  }

  .lorenz_container {
    margin-right: 0;
    margin-top: 0;
    align-self: center;
    justify-self: center;
  }

  .main_logo {
    height: 220px;
    margin-top: 0;
    align-self: center;
    grid-row-start: 1;
    justify-self: center;
  }

  .mach_container {
    padding-right: 25px;
    text-align: right;
    margin-top: 0;
    margin-left: 0;
    align-self: center;
    justify-self: center;
  }

  .mach_container .department_container {
    margin-right: -25px;
  }

  .lorenz_container .department_container {
    margin-left: -20px;
  }
}
